/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Colors */
:root {
    /* Primary */
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    
    /* Neutral */
    --dark-greyish-red: hsl(0, 6%, 24%);
    
    /* Gradients */
    --grey-gradient: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --red-gradient: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

/* General */
main {
    display: flex;
    background-image: url(./images/bg-pattern-desktop.svg);
}

#woman-image-mobile {
    display: none;
}

/* Left Side */
.left-side {
    padding: 50px 150px;
}

#logo {
    margin-bottom: 155px;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    color: var(--dark-greyish-red);
    font-weight: 600;
    font-size: 60px;
    letter-spacing: 20px;
    line-height: 65px;
    margin-bottom: 20px;
}

h1 span {
    color: var(--desaturated-red);
    font-weight: 300;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--desaturated-red);
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 40px;
}

#description {
    width: 450px;
}

form {
    position: relative;
    display: block;
    height: 50px;
    width: 100%;
    max-width: 400px;
}

/* .container-form-input {
    display: flex;
    justify-content: center;
} */

.form input {
    /* flex: 1; */
    position: absolute;
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
    /* font-weight: 400; */
    font-size: 1.1rem;
    color: hsl(0, 6%, 24%);
    /* border-radius: 25px; */
    border-radius: 50px;
    border: 1px solid hsl(0, 36%, 70%);
    /* padding: 15px; */
    padding-left: 30px;
    /* width: 384px; */
    width: 100%;
    height: 100%;
    /* background: transparent; */
}

.form button {
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    border-radius: 50px;
    border: none;
    outline: none;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    cursor: pointer;
    box-shadow: 0px 0px 18px 1px hsl(0, 20%, 80%);
    transition: all 0.3s ease-in-out;
}

.form button:hover {
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 76%, 80%));
    box-shadow: 0px 0px 13px 2px hsl(0, 20%, 78%);
    transform: scale(1.1);
}

.form input::placeholder {
    color: hsl(0, 36%, 70%);
    font-size: 0.9rem;
}

.form #icon-error {
    display: inline-block;
    position: absolute;
    right: 27%;
    top: 25%;
    display: none;
}

.form #error-text {
    position: absolute;
    left: 30px;
    top: 55px;
    font-size: 1rem;
    display: none;
}

.form #success-text {
    position: absolute;
    left: 30px;
    top: 55px;
    font-size: 1rem;
    display: none;
}

/* input:invalid {
    border-color: var(--soft-red);
} */

/* input:focus:invalid {
    outline: none;
} */

/* ::placeholder {
    color: #dac7cb;
} */

/* .img-error {
    position: relative;
    left: 300px;
    bottom: 35px;
    left: -50px;
    display: none;
}

.error-message {
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px 20px;
    display: none;
    color: var(--soft-red);
    font-weight: 400;
}

.error {
    width: 100%;
    padding: 0;
    font-size: 80%;
    color: var(--soft-red);
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    display: block;
    position: absolute;
    top: 50px;
    left: 11px;
}

.error.active {
    padding: 0.3em;
}

.error-icon {
    position: absolute;
    top: 10px;
    left: 300px;
} */

/* button {
    background-image: var(--red-gradient);
    border-style: none;
    border-radius: 25px;
    padding: 15px;
    width: 90px;
    height: 45px;
    position: relative;
    left: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(206, 151, 151, 0.7);
    cursor: pointer;
} */

/* button:hover {
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 80%, 86%));
} */

/* Attribution */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--dark-greyish-red);
}

/* Responsiveness */
@media screen and (max-width: 800px) {
    .left-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    #logo {
        padding: 50px;
        margin-bottom: 0;
        align-self: flex-start;
        margin-left: 40px;
    }

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    #woman-image-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 100px;
        
    }

    #woman-image-desktop {
        display: none;
    }

    form {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }
}